@import url('https://fonts.googleapis.com/css2?family=Manrope:wghta400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Kdam+Thmor+Pro&family=Kumbh+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Kdam+Thmor+Pro&family=Kumbh+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: "Poppins", sans-serif;
}

.buttomShadow {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.sticky_header {
width: 100%;
height: 80px;
line-height: 80px;
position: sticky;
top: 0;
left: 0;
z-index: 99999;
background: white;
box-shadow: 3px 3px -8px 3px #ddd;
}
.show__menu{
  display: block;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

table {
  width: 100%;
  margin: 20px 0;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services {
  padding: 20px;
  background-color: #f5f5f5 ;
}

.search-box {
  margin: 20px 0;
  padding: 10px;
  width: 50%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service-card {
  width: 200px;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 5px;
}

.service-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.price {
  color: green;
  font-weight: bold;
}
.click-box {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.click-box:hover {
  background-color: white;
  color: blue;
}

.stickyTop {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}



/* rating stars */
.rating:not(:checked)>input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked)>label {
  float: right;
  cursor: pointer;
  font-size: 40px;
  color: #666;
}

.rating:not(:checked)>label:before {
  content: '★';
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
  color: #67b5de;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: #67b5de;
}

.rating>input:checked~label {
  color: #67b5de;
}
/* end rating stars */

/* Wave text loader made by: csozi | Website: english.csozi.hu*/
.textloading {
  color: #67b5de;
  font-weight: bolder;
}
@keyframes letter {
  0% {
    font-size: 30px;
  }
  50% {
    font-size: 40px;
  }
  100% {
    font-size: 30px;
  }
}
.letter {
  animation: letter 1s infinite;
}
.letter1 {
  animation-delay: 0s;
}
.letter2 {
  animation-delay: -0.9s;
}
.letter3 {
  animation-delay: -0.8s;
}
.letter4 {
  animation-delay: -0.7s;
}
.letter5 {
  animation-delay: -0.6s;
}
.letter6 {
  animation-delay: -0.5s;
}
.letter7 {
  animation-delay: -0.4s;
}
.letter8 {
  animation-delay: -0.3s;
}
.letter9 {
  animation-delay: -0.2s;
}
.letter10 {
  animation-delay: -0.1s;
}
/* end Wave text loader made by: csozi | Website: english.csozi.hu*/

/* look for nurse loading*/
.loader-spanne-20 {
  position: relative;
  width: 100px;
  height: 30px;
  padding: 0;
}

.loader-spanne-20>span {
  position: absolute;
  right: 0;
  width: 3px;
  height: 30px;
  background-color: #67b5de;
  display: block;
  border-radius: 3px;
  transform-origin: 50% 100%;
  animation: move 2.8s linear infinite;
}

.loader-spanne-20>span:nth-child(1) {
  animation-delay: -0.4s;
}

.loader-spanne-20>span:nth-child(2) {
  animation-delay: -0.8s;
}

.loader-spanne-20>span:nth-child(3) {
  animation-delay: -1.2s;
}

.loader-spanne-20>span:nth-child(4) {
  animation-delay: -1.6s;
}

.loader-spanne-20>span:nth-child(5) {
  animation-delay: -2s;
}

.loader-spanne-20>span:nth-child(6) {
  animation-delay: -2.4s;
}

.loader-spanne-20>span:nth-child(7) {
  animation-delay: -2.8s;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateX(0px) rotate(0deg);
  }

  20% {
    opacity: 1;
  }

  40% {
    transform: translateX(-40px) rotate(0deg);
  }

  50% {
    opacity: 1;
    transform: translateX(-50px) rotate(22deg);
  }

  85% {
    opacity: 1;
    transform: translateX(-85px) rotate(60deg);
  }

  100% {
    opacity: 0;
    transform: translateX(-100px) rotate(65deg);
  }
}
/* end look for nurse loading*/

/* nurse wait for request loader*/
.loader {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 #67b5de;
  animation: load 2s linear infinite alternate;
}

@keyframes load {
  0% {
    box-shadow: inset -20px 40px 0 #67b5de;
  }

  100% {
    box-shadow: inset 20px -40px 0 #67b5de;
  }
}
/* end nurse wait for request loader*/


/* circilar countdown */

.circular-countdown {
  width: 40px;
  height: 40px;
}

.circular-countdown svg {
  transform: rotate(-90deg);
}

.circular-countdown circle {
  fill: none;
  stroke-width: 2;
}

.circular-countdown circle:nth-child(1) {
  stroke: #eee;
}

.circular-countdown .progress {
  stroke: #67b5de;
  stroke-dasharray: 113px;
  stroke-dashoffset: 113px;
  animation: countdown 15s linear forwards;
}

@keyframes countdown {
  to {
    stroke-dashoffset: 0;
  }
}
/* end circilar countdown */



@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 0.5s ease-in-out;
}
/**/
/* for switch button nurses top bar */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle-btn {
  top: 800px;
  width: 75px;
  height: 75px;
  position: relative;
  display: inline-block;
}

.toggle-btn input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  outline: none;
  background-color: #f5f1f1;
  z-index: 1;
  overflow: hidden;
}

.toggle-btn input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  border-radius: 30px;
  background-color: #67b5de;
  left: 0;
  top: 0;
  z-index: -1;
  transition: width 500ms ease-in-out;
}

.toggle-btn .toggle-text {
  position: absolute;
  width: 20px;
  top: 25px;
  left: 25px;
  transform: translateY(-15%);
  background-color: transparent;
  transition: all 300ms ease-in-out;
  pointer-events: none;
  z-index: 1;
}

.toggle-btn .toggle-text::before {
  content: "OFF";
  position: absolute;
  width: 100%;
  height: 100%;
  color: #67b5de;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  transition: all 300ms ease-in-out;
  transition-delay: 100ms;
  font-family: sans-serif;

}

.toggle-btn input[type="checkbox"]:checked::before {
  width: 100%;
}

.toggle-btn input[type="checkbox"]:checked~.toggle-text {
  left: 47px;
}

.toggle-btn input[type="checkbox"]:checked~.toggle-text::before {
  content: "ON";
  color: #fff;
}



@media only screen and (max-width:768px) {
.navigation{
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #00000084;
display: none;
}


.menu {
width: 15rem;
height: 100%;
position: absolute;
top: 0;
right: 0;
background:#fff;
z-index: 200;
flex-direction: column;
justify-content: center;
align-items: center;
line-height: 30px;
}


}







::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track{
background: transparent;
}
::-webkit-scrollbar-thumb{
background: #d6d6d8;
border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c1c1c3;
}
::-webkit-scrollbar-button {
  display: none;
}


